---
import Badge from "./Badge.astro";

interface Props {
  title: string;
  description: string;
  image: {
    src: string;
    alt: string;
  };
  links: {
    github: {
      url: string;
      logo: any;
    };
    demo: {
      url: string;
      logo: any;
    };
  };
  technologies: Array<{
    name: string;
    classProp: string;
    logo: any;
  }>;
}

const { title, description, image, links, technologies } = Astro.props;
---

<article
  class="max-w-sm rounded-lg bg-bg-200 dark:bg-bg-100 shadow-lg flex flex-col gap-2"
>
  <img class="rounded-t-lg" src={image.src} alt={image.alt} />
  <div class="p-4 space-y-3">
    <header class="flex flex-row justify-between items-center">
      <h3 class="text-3xl text-primary-300">{title}</h3>
      <div class="flex gap-3">
        <a
          href={links.github.url}
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary-300 hover:text-primary-200"
        >
          <links.github.logo class="size-8 md:size-10 text-white" />
        </a>
        <a
          href={links.demo.url}
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary-300 hover:text-primary-200"
        >
          <links.demo.logo class="size-8 md:size-10 text-white" />
        </a>
      </div>
    </header>
    <p class="text-primary-300 text-base md:text-lg">
      {description}
    </p>
    <div class="flex flex-row flex-wrap gap-x-1 gap-y-2">
      {
        technologies.map((tech) => (
          <Badge class={`${tech.classProp}`}>
            <tech.logo class="size-4 md:size-6" />
            <span class="text-xs text-white">{tech.name}</span>
          </Badge>
        ))
      }
    </div>
  </div>
</article>
