---
import Section from "./Section.astro";
import Code from "@/assets/svg/code.svg";
import CardProject from "./CardProject.astro";
import { PROJECTS } from "@/const/PROJECTS";

interface Props {
  id?: string;
}
const { id } = Astro.props as Props;
---

<Section id={id} svg={Code} title="Proyectos">
  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
    {
      PROJECTS.map((project) => (
        <CardProject
          title={project.title}
          description={project.description}
          image={project.image}
          links={{
            github: {
              url: project.links.github.url,
              logo: project.links.github.logo,
            },
            demo: {
              url: project.links.demo.url,
              logo: project.links.demo.logo,
            },
          }}
          technologies={project.tags.map((tag) => ({
            name: tag.name,
            color: tag.color,
            logo: tag.logo,
          }))}
        />
      ))
    }
  </div>
</Section>
